@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
 
    background: rgba(0, 0, 0, .20) url('images/Student-final.webp');
    background-blend-mode: darken;
    /*background-color: rgb(95, 158, 160);*/
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    
}

h1{
    font-weight: bold;
    font-size: 4rem;
    color: rgb(255, 217, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: -1rem;
}

.counter-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 4rem auto;
    border-radius: 10px;
}

.big-text{
    font-size: 7rem;
    line-height: 1;
    color: rgb(255, 217, 0);
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 3rem;
    font-weight: bold;
}

.text-c {
    text-align: center;
}

.text-c span{
    font-size: 1.5rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(255, 217, 0);
}




