@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

.imgback{

    background-image: url('images/bersek.webp');
    background-repeat: no-repeat;
    background-size: cover;

    height: 110vh;
    width: 101%;
    resize: auto auto;
    
    position: fixed;
    margin-top: -67px;
    margin-left: -1px;
    z-index: -1;

    filter: brightness(20%) blur(2px);

}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: black;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
   
    max-width: 35rem;
    margin: 0px auto;
    padding: 1rem;
    border-radius: 2rem;
    z-index: 0;

    transition: 0.5s;
}

h1{
    text-align: center;
    font-size: 100px;
    color: aliceblue;
    z-index: 1;
    margin-bottom: 20px;
    transition: 1s;
}

.numbers-bg{
    
    text-align: center;
    font-size: 100px;
    color: aliceblue;
    transition: 0.5s;

}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {

    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;

    font-weight: bold;
    border-radius: 5px;
    color: aliceblue;
    padding: 4px 8px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(200, 0, 0);
    font-size: 20px;
    border-color: black;

    transition: 1s;

}

button:active{
    background-color: rgb(255, 255, 255);
}

.radioPlay{

    width: 300px;
    height: 25px;

    display: block;
    margin: 0 1050px;
    margin-top: 20px;
}

audio::-webkit-media-controls-panel{
    background-color: rgb(250, 0, 0);
}